::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

* {
	margin:0;
	padding:0;
	
	}
	
body {
	background-color:black;
	color:#c1b492;
	letter-spacing:8px;
	image-rendering: pixelated;
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-align:center;

	
	}