@charset "UTF-8";
/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 8px;
  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing: none;

}

body {
  background-image: url("../img/gif/bg.gif");
  background-color: #d2738a;
  color: #c1b492;
}

a {
  text-decoration: none;
}

a:link {
  color: #d2738a;
}

a:visited {
  color: #d2738a;
}

a:hover {
  color: #c1b492;
  animation: wiredB2 1s ease-out infinite;
}

a:active {
  color: #d2738a;
}

h1 {
  font-size: 20px;
  font-family: Times, "Times New Roman", serif;
  font-weight: normal;
  clear: both;
}

h6 {
  font-size: 9px;
}

hr {
  border-color: #d2738a;
  border-bottom-width: 2px;
}

#enterWired {
  display: block;
  background-image: url(../img/gif/lainCOMP_FIN2.gif);
  width: 720px;
  height: 660px;
  margin-left: 550px;
  margin-right: auto;
  margin-top: 30px;
  padding: 70px;
  position: relative;
  top: 10px;
}

.article {
  width: 800px;
  background-color: #00000000;
  background-image: url("../img/gif/bg-black.gif");
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  box-shadow: black 0px 5px 10px;
  text-align: center;
  letter-spacing: 8px;
  font-size: 13px;
  padding: 20px;
}

.article p {
  margin: 0 0 1em 0; /* prueba*/
  padding-left: 20px; /* prueba*/
  text-align: justify; /* prueba*/
  letter-spacing: 0.6em;
  word-spacing: -1em;
  font-size: 13px;
}

.article pre,
code {
  letter-spacing: 0.1em; 
  text-align: left; 
  font-size: 12px;
  text-align: justify;
}
.brayan {
  letter-spacing: -0.01em;
  font-size: 16px;
}
.brayan b {
  letter-spacing: -0.01em;
}
.date {
  font-size: 9px;
  line-height: 0px;
  margin: 0px;
}
.author {
  font-size: 13px;
  line-height: 40px;
  margin: 0px;
}
.lainsit {
  width: 200px;
  height: 200px;
}

.lainlove {
  width: 200px;
  height: 200px;
}
.final {
  position: relative;
  left: 650px;
  top: 10px;
}
.archbtw{
  letter-spacing: 2px;
  text-align: justify;
  font-size: 13px;
}
.archbtw b{
  letter-spacing: 2px;
}

.neofetch {
 
  white-space: pre;
  border: 1px solid white;
 
  position: relative;
  max-width: 100%;
  margin: 15px auto;

  background-color: #000000;
  color: white;
  border-radius: 5px;

 
  max-width: 90%;

}

.neofetch-text {
  font-family: "IBM Plex Mono", monospace;
    white-space: pre;
   
    font-size: 10px;
    position: relative;
   
    margin: 15px auto;
    padding: 1px;

    color: white;
    
text-align: justify;
    height: 346px;
    max-width: 90%;
    
    letter-spacing: 2px;
}

h5 {
  font-weight: normal;
}

b {
  color: #d2738a;
  font-weight: normal;
}

#note {
  letter-spacing: 0px;
}

.article .comment {
  font-size: 9px;
}

.jap {
  font-smooth: auto !important;
  -webkit-font-smoothing: auto !important;
}

.blink {
  animation: blink 2s linear infinite;
}
div span{
  letter-spacing: 0px
}

@keyframes blink {
  50% {
    color: black;
  }
}

@keyframes wiredB {
  50% {
    color: #c1b492;
    text-shadow: #d2738a 1px 4px 5px;
  }
}

@keyframes wiredB2 {
  50% {
    color: #c1b492;
    text-shadow: #c1b492 1px 1px 6px;
  }
}
