@charset "UTF-8";
/* CSS Document */


::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}

* {
	margin:0;
	padding:0;
	
	}
	
body {
	background: url(../img/gif/bg.gif); /*remove maybe (? or change gif...*/
	background-color:black;
	color:#f0e68c ;
	letter-spacing:8px;
	image-rendering: pixelated;
	-webkit-font-smoothing: none;
	text-align:center;
    overflow: hidden;
	
	}
	
img {
	opacity:0;
	animation: opacity 0.2s ease-in forwards;
	animation-delay:0.6s;
	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	 width: 200px;
	}
	


	
.descp {
	margin-top:0px;
	display:inline-block;
	width:460px;
	font-size:10px;
	margin-bottom:10px;
	text-align:left;
	clear:both;
	text-indent:-77px;
	letter-spacing:4px;



	
	}
	
.descp:first-line {
	text-indent:0px;
	}
	
b {
	color:#d2738a;	
	letter-spacing:8px;
	}
	
a {
	margin-bottom:140px;
	font-size:10px;
	
	
	}

hr {
	border-color:#c1b492;
	display:inline-block;
	width:170px;
	border-style:solid;
	box-shadow:none;
	border-bottom:0px;
	}
	
a {
	text-decoration:none;
	transition: color 0.5s ease-out;
	display:inline-block;

	
	}
	
a:link {
	color:#d2738a;
	}
	
a:visited {
	color:#d2738a;
	}
	
a:hover {
	color:#c1b492;

	}
	
a:active {
	color:#d2738a;
	}
	
.text {	
	background-color:#dfd5bc;
	height:18px;
	text-align:center;
	margin-bottom:12px;
	transition: background-color 0.5s ease-out;
	width:170px;

	}
	
.text:hover {
	background-color:white;

	
	}
	
.text:focus {
	background-color:white;
	
	}
	
input {
	border:none;
	}
	
.button {
	color:#f0e68c;
	background-color:rgba(0,0,0,0.0);
	width:100px;
	cursor:pointer;
	padding-left:8px;
	padding-top:2px;
	padding-bottom:2px;
	letter-spacing:8px;
	transition: color 0.5s ease-out, border-color 0.5s ease-out;
	text-align:center;
	border-radius:20px;
	border-style: solid;
    border-width: 2px;
	border-color:#f0e68c;
	line-height:16px;
	margin-bottom:100px;
	
	}
	
.button:hover {
	color:#d2738a;
	border-color:#d2738a;


	
	}
	

	
.wiredGang {
	position:relative;
	width:100%;
	height:100%;
	margin-top: 10px;
	background-image:url(/img/gif/lainarmhold3.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	animation: wiredGangAn 20s linear infinite;
	
	}
	
.opacity  {
	position:relative;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.0);
	animation: opacityBg 0.3s linear forwards;
	/* animation-delay:0.6s; */
	display: flex;
	justify-content: center;
	align-items: center;

	}
	
.opacityContent {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	/* animation-delay:3s; */

	}
	
.opacityContent2 {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	/* animation-delay:3.5s; */
	padding: 230px;
	margin-top: -60px;

	
	}
	

 
 @keyframes wiredGangAn {
  from {
	  background-position-x:341px;
  }
  to {
	   background-position-x:-341px;
	  }
 }
 
 @keyframes opacity {
  from {
	  opacity:0;
  }
  to {
	  opacity:1;
	  }
 }
 
 @keyframes opacityBg {
  from {
	background-color:rgba(0,0,0,0.0);
  }
  to {
	background-color:rgba(0,0,0,0.6);
	  }
 }
 
 @keyframes opacityBG{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
 /* responsive para phonesss */

@media (max-width: 600px) {


    body {
        font-size: 50px; 
        letter-spacing: 4px;
    }

    #intro {
        font-size: 70px;
        letter-spacing: 8px;
        margin:-10px 0;
    }

    .descp {
		position: relative;
		left: -120px;
        width: 130%; 
        font-size: 30px;
        text-indent: -140px;
        letter-spacing: 0px;
		padding: 70px;
    }

    .text, .button {
        width: 510px; 
        height: 50px;
		font-size: 50px;
        letter-spacing: 4px;
    }
	.button{
		margin: 20px;
		padding: 10px;
		width: 270px;
	}
	
	
	hr{
		width: 250px;


	}
	a{
		padding: 75px;
		font-size: 40px;
	}
	img{
		position: relative;
		top:10px;
	}
}